@keyframes animated-fly-loop-1 {
  0%,
  100% {
    opacity: 0%;
  }
  50%,
  80% {
    opacity: 100%;
  }
}

@keyframes animated-fly-loop-2 {
  0%,
  100% {
    opacity: 0%;
  }
  50%,
  80% {
    opacity: 100%;
  }
}
