.title {
  @apply m-0 leading-normal text-6xl text-center;
  @apply -md:text-4xl -md:leading-normal;
}

.text-gradient {
  @apply text-transparent bg-clip-text 
    bg-gradient-to-br from-gradient-blue to-gradient-purple;
}

.animated-text {
  animation: animated-fly-loop 5s infinite;
}

@keyframes animated-fly-loop {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.hover-text-gradient {
  @apply hover:text-transparent hover:bg-clip-text 
    hover:bg-gradient-to-br from-gradient-blue to-gradient-purple;
}
